@using EntityLayer.Concrete
@model List<Writer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyadı</th>
        <th>Mail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WriterID</td>
            <td>@item.WriterName</td>
            <td>@item.WriterSurName</td>
            <td>@item.WriterMail</td>
        </tr>
    }
</table>
