@using EntityLayer.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Başlıklar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Başlık</td>
        <td>Kategori</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HeadingID</td>
            <td>@item.HeadingName</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }
</table>
<br />
<a href="/Heading/AddHeading/" class="btn btn-info">Yeni Başlık</a>

